<div class="h-full w-full grid grid-cols-30 gap-4 p-4">
    <sh-card-base class="col-span-18" title="Proyectos">
        <div actions>
            <sh-action-button icon="filter_alt" />
            <sh-action-button icon="add" type="circle" severity="light" />
        </div>
    </sh-card-base>
    <sh-card-base class="col-span-12"></sh-card-base>
    <sh-card-base class="col-span-20 row-span-2" color="LIGTH" title="Tareas">
    </sh-card-base>
    <sh-card-base class="col-span-2 " actions="false">
        <div class="flex flex-col gap-4 items-center">
            <sh-action-button icon="data_object" />
            <sh-action-button icon="ios_share" />
            <sh-action-button icon="settings" />
            <sh-action-button icon="logout" />
        </div>
    </sh-card-base>
    <sh-card-base class="col-span-8" color="LIGTH" title="Calendario"></sh-card-base>
    <nasa-picture class="col-span-10 h-50"/>
    <sh-card-base class="col-span-15" title="Archivos">
        <div actions>
            <sh-action-button icon="filter_alt" />
            <sh-action-button icon="add" type="circle" severity="light" />
        </div>
    </sh-card-base>
    <sh-card-base class="col-span-15" title="Contraseña">
        <div actions>
            <sh-action-button icon="filter_alt" />
            <sh-action-button icon="add" type="circle" severity="light" />
        </div>
    </sh-card-base>
</div>