<label class="label">{{label()}}:</label>
<div class="input input-md" [class.validator]="isInvalid">
    <input [id]="inputId()" [value]="value" (input)="onInput($event)" [attr.aria-invalid]="isInvalid ? true : null"
        (blur)="handleBlur()" [disabled]="isDisabled" [type]="type()" />
</div>

@for (m of errorMessages(); track $index) {
@if((errors?.[m.error()] && isInvalid) || m.visible()){
<ng-container [ngTemplateOutlet]="m.template" [ngTemplateOutletContext]=" { $implicit: errors?.[m.error()] }">
</ng-container>
}
}